.sidebar {
    max-width: 248px;
    background: red;
    color: #ffffff;
}

.sidebar-title {
    font-size: 22px;
    font-weight: 100;
    padding: 4px 5px 0 0;
    text-align: right;
    margin-bottom: 74px;
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
}

.sidebar-menu-link {
    text-decoration: none;
    color: #ffffff;
    padding: 16px 0 16px 25px;
    display: inline-block;
    width: 100%;
    border-left: 4px solid red;
}

.sidebar-menu-link:hover {
    border-left: 4px solid #ffffff;
}

.sidebarImage {
    max-width: 248px;
    height: auto;
}

.bar {
    position: relative;
    width: 248px;
    height: 32px;
    margin-top: -36px;
    padding: 0;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

#current-time-text {
    position: absolute;
    color: black;
    font-size: 16px;
    padding: 7px;
    z-index: 1;
    /*display: none;*/
}

#duration-time-text {
    position: absolute;
    margin: -32px;
    font-size: 16px;
    padding-top: 7px;
    right: 40px;
    color: black;
}

.duration {
    width: 100%;
    height: 32px;
}

input[type="range"] {
    -webkit-appearance: none;
    outline: none;
    width: -webkit-fill-available;
    position: relative;
    width: 100%;
    height: 32px;
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.5);
    overflow: hidden;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1px;
    height: 32px;
    background: white;
    cursor: pointer;
    box-shadow: -248px 0 0 248px white;
    z-index: -1;
}

.sidebar-icon {
    height: 58px;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-icon button {
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    background: red;
}

.sidebar-icon button i {
    color: white;
    font-size: 15px;
}

.fa-backward:hover, .fa-forward:hover {
    opacity: 0.5;
}

.sidebar-icon button .fa-play {
    font-size: 25px;
}

.sidebar-copy {
    padding-left: 25px;
    font-size: 13px;
}