.songs {
    padding-left: 48px;
}

.box {
    display: flex;
    align-items: center;
    height: 48px;
    margin-bottom: 25px;
}

.songs-image {
    height: 48px;
    width: 48px;
}

.songs-name {
    margin-left: 20px;
    font-size: 14px;
    width: 530px;
}

.songs-name-first {
    color: #A9A9A9;
    padding-bottom: 5px;
}

.songs-time {
    font-size: 14px;
    color: #A9A9A9;
}